<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to EcoSnap</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
    <!-- Include navigation -->
    <%- include('nav') %>

        <div class="container">
            <div class="page1">
                <h1>Welcome to EcoSnap</h1>
                <p>EcoSnap is a platform designed to help you contribute to environmental conservation efforts by
                    reporting environmental issues in your area. Here's how to get started:</p>
                <a href="#documentation">Get Started</a>
            </div>
            <div class="page2" id="documentation">
                <h2>How to Use EcoSnap:</h2>
                <ol>
                    <li>Sign in with your Google account to access all features of the website.</li>
                    <li>Upload images of environmental issues or concerns you encounter in your area.</li>
                    <li>Provide a title, description, address, district, and state for each uploaded image to provide
                        context.</li>
                    <li>View your upload history to track the issues you've reported.</li>
                    <li>Edit your profile information if needed.</li>
                    <li>Log out when you're done using the website.</li>
                </ol>

                <div class="features">
                    <h2>Key Features:</h2>
                    <div class="feature">
                        <h3>Image Upload</h3>
                        <p>Upload images of environmental issues along with relevant details.</p>
                    </div>
                    <div class="feature">
                        <h3>History</h3>
                        <p>View a history of all the issues you've reported.</p>
                    </div>
                    <div class="feature">
                        <h3>Delete Entry</h3>
                        <p>Delete any of your uploaded entries from your history to manage your reports effectively.</p>
                    </div>
                    <div class="feature">
                        <h3>Edit Profile</h3>
                        <p>Edit your profile name</p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>