<nav>
    <div class="section-1">
        <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
        <a class="i" href="/"><img class="dashboard icon" src="/img/home.png" alt=""><span class="text">Dashboard</span></a>
        <a class="i" href="/history"><img class="history icon" src="/img/history.png" alt=""><span class="text">History</span></a>
        <a class="i" href="/upload"><img class="history icon" src="/img/upload.png" alt=""><span class="text">Upload</span></a>
    </div>
    <div class="section-2">
        <a href="/profile"><img class="profile" src="<%=pic%>" alt=""></a>
    </div>
</nav>