*{
    padding: 0;
    margin: 0;
}

nav {
    /* background-color: rgb(217, 246, 247); */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 {
    display: flex;
    align-items: center;
}

.section-1 .i {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.i span {
    margin-left: 10px;
}

.section-2 {
    display: flex;
    align-items: center;
}

.logo {
    width: 300px;
    padding-right: 50px;
}

.icon {
    height: 40px;
}

.notification {
    padding-right: 40px;
}

.profile {
    border-radius: 50%;
    width: 60px;
}

.dashboard, .history{
    height: 35px;
}

span:hover{
    color: green;
}

.btn {
    border: 1px solid black;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: red;
}


@media screen and (max-width: 980px) {
    .text {
        display: none;
    }
    .section-1{
        display: flex;
        width: 100%;
        margin-right: 50px;
        justify-content: space-between;
    }
}


